@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header {
  width: 100%;
}

.header-wrap {
  width: 100%;
  height: 5rem;
}

.header-item ul {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header-item ul li {
  display: flex;
  align-items: center;
}

.content {
  width: 95%;
  display: flex;
  align-content: center;
  align-items: center;
}

.header-img img {
  height: 50rem;
  margin: 4rem 2rem;
  border-radius: 90rem;
  width: 100%;
  box-shadow: 0 0.6 0.6 rgba(0, 0, 0, 0.6);
  object-fit: scale-down;
}

.header-text {
  width: 100%;
  height: 100%;
}

.text h2 {
  text-align: justify;
}

.books {
  width: 100%;
  height: 100%;
  padding: 20px 20px 20px 20px;
  background: #c8d6e5;
  margin-top: 5rem;
}

.books .title {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.books .title .titleText {
  font-size: 2em;
  font-weight: 300;
  color: #718093;
}

.books .title .titleText span {
  color: #57606f;
  font-weight: 700;
  font-size: 1.5em;
}

.cardcont div img {
  width: 70%;
  height: 100%;
}

.row {
  padding: 5rem;
}

.cardbody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.cardbody img {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 3rem;
}

.cardtext {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 800 !important;
  text-align: center;
  color: black;
  width: 60%;
  transform: 3s ease-in-out;
  padding-top: 2px;
}

.cardtext {
  animation: cardanmiatefallback 1s ease-in-out;
}

.cardcont:hover .cardtext {
  animation: cardanmiate 3s ease-in-out forwards;
  -webkit-animation: cardanmiate 3s ease-in-out forwards;
}

@keyframes cardanmiate {
  0% {
    opacity: 0;
    visibility: visible;
    position: absolute;
    bottom: 50%;
  }
  50% {
    opacity: 0.5;
    position: absolute;
  }
  100% {
    opacity: 1;
    visibility: visible;
    position: absolute;
    bottom: 5%;
    background-color: #fff;
    border-radius: 2rem;
  }
}

@keyframes cardanmiatefallback {
  100% {
    opacity: 0;
    visibility: visible;
    background-color: none;
    position: absolute;
    bottom: 5%;
  }
  50% {
    opacity: 0.5;
    position: absolute;
  }
  0% {
    opacity: 1;
    visibility: visible;
    position: absolute;
    bottom: 5%;
    background-color: #fff;
    border-radius: 2rem;
  }
}

.section-2 {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.heading::after {
  content: "";
  width: 40rem;
  height: 1rem;
  background-color: rgba(226, 207, 36, 0.801);
  position: absolute;
  bottom: 0;
  right: 29.6%;
}

.content {
  width: 100%;
  height: 100%;
}

.contentwrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
}

.contentwrap .contentimg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentwrap .contentimg img {
  width: 40rem;
  height: 40rem;
}

.contentwrap .contenttext {
  width: 80%;
}

/*text edit*/
.contentwrap .contenttext h1 {
}

.contentwrap .contenttext p {
}

.moreabout {
  width: 100%;
  height: 100%;
}

.moreaboutwrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.moreabouttext {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.moreabouttext {
  margin-bottom: 1rem;
}

.inform {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inform p {
  font-weight: 700;
  text-align: justify;
  text-transform: uppercase;
}

/*copyright*/

.copyrightText {
  /* Change border color */
  padding: 8px 40px;
  border-top: 2px solid #4b4b4b;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  background-color: #2f3542;
}

.copyrightText p {
  color: #ecf0f1;
  margin-top: 10px;
  font-style: italic;
}

.copyrightText a {
  color: #fd9644;
  font-weight: 150;
  text-decoration: none;
  transition: 0.5s;
}

.copyrightText a:hover {
  color: #009432;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
}
